@use "../../styles/stylekit-core" as core;

.profile-summary {
	@include core.glass;

	border: none;
	width: 100%;
	border-radius: inherit;
	font-size: 0.875rem;
	padding: 15px;

	.header {
		@include core.typography(body);

		font-size: 3.5rem;
		color: core.color-swatch(lively-green);
		margin-bottom: 0.5rem;
	}

	.sub-header {
		@include core.typography(body-small);

		font-family: "Fira Code", monospace;
		font-size: 1.1rem;
	}

	.tag {
		font-size: 1rem;
		letter-spacing: 0.2px;
		background-color: rgba(0, 0, 0, 20%);
	}

	.tag,
	.value {
		width: 100%;
		padding-inline: 10px;
		box-sizing: border-box;
	}

	.value {
		letter-spacing: 0.1px;
		font-size: 1.75rem;
		font-weight: bolder;
		flex-shrink: 1;

		// color: core.color-swatch(sec-txt);
	}

	.details {
		flex-grow: 1;
	}

	.summary-cards {
		margin-top: 15px;
		flex-wrap: wrap;
		row-gap: 12px;
		justify-content: space-between;
	}

	.summary-card {
		// font-weight: 600;
		// background-color: core.color-swatch(lively-green);

		// background-color: #f08080;
		// background-color: #dc143c;
		color: #fff;

		// padding: 10px;
		width: 32.66%;
		min-width: 32.66%;
		flex-direction: column-reverse;
		align-self: stretch;
		margin: 0;
		justify-content: stretch;

		&:last-child {
			flex-grow: 1;
		}
	}
}
