@use "../../styles/stylekit-core" as *;
@use "../../styles/tokens" as *;
@use "../../styles/theme" as *;
@use "../../styles/typography" as *;

.about {
	row-gap: $space-3;
	justify-content: flex-start;
	overflow-y: auto;
}

.about .sub-section {
	width: 100%;
	flex-grow: 1;
	gap: $space-3;

	.skills,
	.work-experience,
	.education {
		background-color: $theme-surface;
		border-radius: 12px;
		padding: $space-4;

		// box-shadow: $shadow-sm;
		// border: 1px solid $color-border;

		.section-header {
			margin-bottom: $space-4;

			@include h2;
		}
	}
}

.skills {
	.section-header img {
		transform: rotate(20deg);
	}

	.skill-card {
		width: 100%;
		margin-bottom: $space-4;

		&:last-child {
			margin-bottom: 0;
		}

		.carousel-slides {
			gap: $space-2;
		}

		.carousel-slide {
			flex: 0 0 150px;
			width: 150px;
		}
	}

	.skill {
		// font-size: 1rem;
		padding: 8px;
		display: inline-block;
		margin: 5px 8px;
		width: 150px;
		height: 150px;
		text-align: center;
	}

	.skill-name {
		font-weight: 600;
	}

	.skill-icon {
		width: 100px;
		height: 100px;
		margin-top: 6px;
	}
}

.questionnaire {
	padding: 0;
	column-gap: 20px;
	text-align: center;
	align-items: stretch;

	.question {
		// background-color: color-swatch(lively-green);
		padding: 10px;
		justify-content: space-between;

		h3 {
			margin-top: 0;
			margin-inline-start: 0;
		}

		p {
			margin-top: 0;
		}
	}

	a {
		width: 50%;
		line-height: 2em;
		background-color: color-swatch(lively-green);
		color: color-swatch(sec-txt);
		border-radius: 18px;

		&:hover {
			background-color: color-swatch(main-bg);
			color: color-swatch(primary-txt);
		}

		// &::after {
		// 	margin-inline-start: 5px;
		// 	content: "\2197";
		// }
	}
}

.education {
	.section-header img {
		margin-bottom: -5px;
	}

	.institute {
		width: 100%;
		font-size: 0.9rem;
		font-weight: 500;
		color: color-swatch(secondary-black);
	}

	.degree,
	.course {
		width: 50%;
		display: inline-block;

		@include viewport(small) {
			width: 100%;
		}
	}

	.details {
		width: 88%;
		font-size: 0.9rem;
		font-weight: 500;

		@include viewport(small) {
			width: 80%;
		}
	}

	.percentage,
	.grade,
	.gpa {
		width: 12%;
		text-align: end;
		font-size: 1.25rem;

		@include viewport(small) {
			width: 20%;
		}

		&::after {
			font-size: 0.75rem;
			color: color-swatch(secondary-black);
		}
	}

	.percentage::after {
		content: "%";
	}

	.gpa::after {
		content: "CGPA";
	}
}

.work-experience {
	.section-header img {
		margin-top: 5px;
		transform: rotate(-12deg);
	}

	.role,
	.company {
		width: 50%;
		font-size: 0.9rem;
		font-weight: 500;

		@include viewport(small) {
			width: 100%;
		}
	}

	.company {
		text-align: end;
		font-style: oblique;

		@include viewport(small) {
			text-align: start;
		}
	}

	.description {
		@include typography(body-small);

		font-weight: 500;
		color: color-swatch(secondary-black);
		width: 100%;
		margin-top: 10px;
	}
}
