@use "../../styles/stylekit-core.scss" as core;

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 1rem;

	&.round {
		border-radius: 8px;
	}

	&.column {
		flex-direction: column;
	}

	&.nopadding {
		padding: 0 !important;
	}

	> .side-left,
	> .side-right {
		height: 100%;
	}
}

.side-left,
.side-right {
	width: 50%;

	@include core.viewport(small) {
		width: 100%;
	}
}
