@use "../../styles/stylekit-core" as core;

.about {
	row-gap: 15px;
	justify-content: flex-start;
	overflow-y: scroll;
}

.about .sub-section {
	width: 100%;
	flex-grow: 1;
	gap: 15px;

	> .side-left {
		width: 40%;

		.container {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	> .side-right {
		width: 60%;
		display: flex;
		flex-direction: column;

		> .container {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.skills,
	.work-experience,
	.education {
		@include core.glass;
	}
}

.questionnaire {
	padding: 0;
	column-gap: 20px;
	text-align: center;
	align-items: stretch;

	.question {
		// background-color: core.color-swatch(fill-salmon);
		padding: 10px;
		justify-content: space-between;

		h3 {
			margin-top: 0;
			margin-inline-start: 0;
		}

		p {
			margin-top: 0;
		}
	}

	a {
		width: 50%;
		line-height: 2em;
		background-color: core.color-swatch(fill-salmon);
		color: core.color-swatch(sec-txt);
		border-radius: 18px;

		&:hover {
			background-color: core.color-swatch(main-bg);
			color: core.color-swatch(primary-txt);
		}

		// &::after {
		// 	margin-inline-start: 5px;
		// 	content: "\2197";
		// }
	}
}

.education {
	.institute {
		font-weight: 600;
	}

	.degree,
	.grade,
	.course,
	.percentage,
	.gpa {
		font-size: 16px;
	}

	.degree,
	.course {
		display: inline;
	}

	.details,
	.percentage,
	.grade,
	.gpa {
		width: 50%;
		display: inline-block;
	}
}

.work-experience {
	.company,
	.graduation {
		font-size: 20px;
		font-weight: 600;
	}

	.subheader {
		font-size: 14px;

		.role,
		.duration {
			display: inline;
			font-style: italic;
		}

		.role {
			margin-inline-end: 5px;
		}
	}

	.description {
		font-size: 16px;
		margin-top: 10px;
	}
}
