@use "../../styles/stylekit-core" as *;
@use "../../styles/typography" as *;

.blogs {
	column-gap: 0;
}

.blog {
	margin: 0;
	padding: 0;
	width: 50%;
	text-align: start;
	font-size: 1rem;
	font-weight: 600;
	background-color: transparent;

	@include viewport(small) {
		width: 100%;
	}

	&:hover {
		.blog-wrapper {
			transform: scale(0.98);
		}
	}

	&-wrapper {
		width: calc(100% - 7.5px);
		height: 100%;
		border-radius: inherit;
		padding: 16px;
		background-color: color-swatch(sec-bg);
		transition: all 300ms ease-in-out;
	}

	&:nth-child(odd) .blog-wrapper {
		margin-inline-end: 7.5px;

		@include viewport(small) {
			margin-inline-end: 0;
		}
	}

	&:nth-child(even) .blog-wrapper {
		margin-inline-start: 7.5px;

		@include viewport(small) {
			margin-inline-start: 0;
		}
	}

	&-title {
		@include body;

		font-size: 1rem;
		font-weight: inherit;
		color: color-swatch(sec-txt);
		margin-block: 0 5px;
	}

	&-desc {
		font-size: 0.9rem;
		color: color-swatch(secondary-black);
		margin: 0;
	}

	&-link {
		width: initial;
		position: absolute;
		inset-inline-end: 15px;
		top: 18px;
	}
}
