@use "../../styles/stylekit-core" as core;

.blog-card {
	margin: 15px;
	padding: 15px;
	width: calc(100% - 30px);
	text-align: start;
	align-items: flex-start;
	position: relative;
	transition: margin-inline 1.5ms cubic-bezier(0.165, 0.84, 0.44, 1);

	&:hover {
		margin-inline: 10px;
		width: calc(100% - 20px);
	}

	.blog-wrapper {
		max-width: 100%;
	}

	* {
		width: 100%;
	}

	.blog-title {
		font-size: 1.5rem;
		margin-block: 0;
		border-bottom: 2px solid core.color-swatch(fill-salmon);
	}

	.blog-link {
		width: initial;
		position: absolute;
		inset-inline-end: 15px;
		top: 18px;
	}
}
