@use "../../styles/stylekit-core" as core;

.project-card {
	height: 200px;
	width: 300px;
	padding: 15px;
	justify-content: flex-start;
	margin: 0;
	font-weight: 600;

	@include core.viewport(small) {
		width: 100%;
	}

	.project-title {
		@include core.typography(body);

		font-weight: inherit;
		width: 100%;
		margin-bottom: 6px;
	}

	.project-desc {
		@include core.typography(body-small);

		font-weight: inherit;
		flex-grow: 1;
		width: 100%;
		color: core.color-swatch(secondary-black);
	}

	.project-links {
		@include core.typography(body-xs);

		font-weight: inherit;
		width: 100%;
		margin-top: 15px;
		color: core.color-swatch(secondary-black);

		.project-link {
			display: inline-block;
			width: 50%;

			&::after {
				content: "↗";
			}
		}

		.project-link:nth-child(2) {
			text-align: end;
		}
	}
}
