@use "../../styles/stylekit-core" as core;

.project-card {
	height: 200px;
	width: 300px;
	padding: 15px;
	justify-content: flex-start;
	margin: 0;
	font-weight: 600;

	.project-title {
		width: 100%;
		margin-bottom: 6px;
		font-size: 1rem;
	}

	.project-desc {
		flex-grow: 1;
		color: core.color-swatch(secondary-black);
	}

	.project-links {
		width: 100%;
		margin-top: 15px;

		.project-link {
			display: inline-block;
			width: 50%;
		}

		.project-link:nth-child(2) {
			text-align: end;
		}
	}
}
