@use "../../styles/stylekit-core" as core;

.web-apps {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 15px;
	gap: 15px;
}

.web-app-card {
	height: 300px;
	width: 300px;
	padding: 15px;
	justify-content: flex-start;
	margin: 0;

	.web-app-title {
		width: 100%;
		margin-bottom: 6px;
		padding-bottom: 6px;
		border-bottom: 2px solid core.color-swatch(fill-salmon);
	}

	.web-app-desc {
		flex-grow: 1;
	}

	.web-app-links {
		width: 100%;
		margin-top: 15px;

		.web-app-link {
			display: inline-block;
			width: 50%;
			color: core.color-swatch(sec-txt);
			text-decoration: none;

			&:hover {
				color: core.color-swatch(fill-salmon);
			}
		}

		.web-app-link:nth-child(2) {
			text-align: end;
		}
	}
}
