@use "../../styles/stylekit-core" as *;
@use "../../styles/tokens" as *;
@use "../../styles/theme" as *;
@use "../../styles/typography" as *;

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: $space-2;
	border-radius: 8px;
	font-family: $font-primary;
	position: relative;
	transition: all $motion-medium $ease-standard;
	border: none;

	&:disabled {
		cursor: not-allowed;
		opacity: $button-disabled-opacity;
	}

	&:focus {
		box-shadow: $shadow-focus;
		outline: none;
	}

	&-icon {
		display: flex;
		align-items: center;
		justify-content: center;

		img,
		svg {
			width: 20px;
			height: 20px;
		}
	}

	// Variants
	&-primary {
		background-color: $button-primary-bg;
		color: $button-primary-text;
		box-shadow: $shadow-sm;

		&:hover:not(:disabled) {
			// background-color: darken($button-primary-bg, 10%);
			box-shadow: $shadow-md;
		}

		&:disabled {
			background-color: rgba(
				$button-primary-bg,
				$button-disabled-opacity
			);
			color: rgba($button-primary-text, 0.5);
			box-shadow: none;
		}
	}

	&-secondary {
		background-color: transparent;
		color: $button-secondary-border;
		border: 1px solid $button-secondary-border;

		&:hover:not(:disabled) {
			background-color: $color-surface;

			// border-color: darken($button-secondary-border, 10%);
			// color: darken($button-secondary-border, 10%);
		}

		&:disabled {
			border-color: rgba(
				$button-secondary-border,
				$button-disabled-opacity
			);
			color: rgba($button-secondary-border, $button-disabled-opacity);
		}
	}

	&-ghost {
		background-color: transparent;
		color: $color-text-primary;

		&:hover:not(:disabled) {
			background-color: $color-surface;
			color: $color-text-secondary;
		}

		&:disabled {
			color: rgba($color-text-primary, $button-disabled-opacity);
		}
	}

	// Sizes
	&-sm {
		@include font(sm);

		padding: calc($space-2 / 2) $space-2;
	}

	&-md {
		@include font(md);

		padding: $space-2 $space-3;
	}

	&-lg {
		height: 52px;
		padding: 0 32px;
		font-size: 1.125rem;
	}
}
