@use "../../styles/tokens" as *;
@use "../../styles/theme" as *;
@use "../../styles/typography" as *;

.content-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: $space-3;
	justify-content: flex-start;
	align-items: stretch;
}

.content-title {
	width: 100%;

	@include h1;

	padding-inline-start: $space-3;
	margin-top: $space-3;
}
