@use "../../styles/stylekit-core" as *;

.section {
	// min-width: 980px;
	// width: 90%;
	height: 100%;
}

.card {
	background-color: color-swatch(sec-bg);
	color: color-swatch(sec-txt);
	font-size: 0.875rem;
}

.section-tile {
	flex-grow: 1;
	padding: 16px 20px;
	text-align: start;

	.section-header {
		display: flex;
		width: 100%;

		h3 {
			@include typography(h3);

			color: color-swatch(lively-green);
			margin-block: 0;

			// margin-inline-start: 10px;
			flex-grow: 1;
			align-content: flex-end;

			// @include custom-border-bottom(
			// 	2px,
			// 	color-swatch(lively-green),
			// 	30%
			// );
		}
	}

	.card {
		ul {
			width: 100%;

			legend {
				padding-bottom: 6px;
				margin-bottom: 8px;
				font-size: 1.25rem;
				font-weight: 600;
				text-align: center;
				border-bottom: 1px solid color-swatch(transparent-grey);
			}
		}

		li {
			padding-inline-start: 15px;

			span {
				margin-inline-start: 8px;
			}

			img {
				margin-bottom: -1px;
			}
		}
	}
}

.timeline {
	.timeline-cards-wrapper {
		width: 100%;
	}

	.timeline-card {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.card {
			margin-top: 25px;
			padding: 10px 20px;
			align-items: start;
			flex-wrap: wrap;
		}

		&:first-child {
			.timestamp {
				border-inline-end: none;
			}

			.timestamp,
			.card {
				margin-top: 0;
			}
		}
	}

	.timestamp {
		@include typography(body-xs);

		color: color-swatch(lively-green);
		width: 12%;
		margin-inline-end: -2%;
		padding-inline-end: 4%;
		padding-top: 25px;
		align-self: stretch;
		border-inline-end: 2px solid;
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;
	}
}
