@use "../../styles/stylekit-core" as core;

.tab {
	&-menu {
		gap: 20px;
		width: max-content;
		flex-wrap: nowrap;
		justify-content: center;
		margin: 0;

		button {
			font-family: inherit;
			font-size: 1rem;
			font-weight: 400;
			color: inherit;
			width: fit-content;
			border-radius: 6px;
			border: 2px solid core.color-swatch(transparent-grey);
			background-color: transparent;
			padding: 4px 12px;
			line-height: 1.5rem;
			box-sizing: content-box;

			&.current {
				border-color: core.color-swatch(fill-salmon);
			}
		}
	}

	&-content {
		&.glass-bg {
			@include core.glass;

			border: none;
		}

		justify-content: flex-start;

		.page-transition {
			width: inherit;
		}
	}
}
