@use "../../styles/stylekit-core" as *;
@use "../../styles/tokens" as *;
@use "../../styles/theme" as *;
@use "../../styles/typography" as *;

.typography {
	&-heading {
		font-family: $font-secondary;
		color: $color-text-primary;
		margin-bottom: $space-3;

		&-xl {
			@include font(xxl);

			margin-bottom: $space-4;
		}

		&-lg {
			@include font(xl);

			margin-bottom: $space-3;
		}

		&-md {
			@include font(lg);

			margin-bottom: $space-3;
		}

		&-sm {
			@include font(md);

			font-weight: 600;
			margin-bottom: $space-2;
		}

		&-xs {
			@include font(sm);

			font-weight: 600;
			margin-bottom: $space-2;
		}
	}

	&-body {
		font-family: $font-primary;
		color: $color-text-secondary;

		&-lg {
			@include font(lg);

			font-weight: 400;
		}

		&-md {
			@include font(md);

			font-weight: 400;
		}

		&-sm {
			font-size: 0.875rem;
			line-height: 1.4;
		}
	}

	&.text-gradient {
		@include text-gradient;
	}
}
